.contact-component {
    background-color: #00076f;
    
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100vh;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
        font-family: "Helvetica";
        font-weight: 400;
    }

    > a > h3 {
        font-family: "Otama";
        font-size: 5rem;

        &:hover {
            color: #e66c0f;
        }

        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }

    .social-container {
        display: flex;
        flex-direction: row;

        > a {
            margin: 10px 10px;

            > p {
                margin: 5px 0px;
            }
        }

        > a.a2 {
            padding: 0px 10px;
            border-left: 1px solid;
            border-right: 1px solid;
        }

        > a > p.p1 {
            font-family: "Helvetica";
            font-size: 1.5rem;
    
            &:hover {
                color: #e66c0f;
            }

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
        
    }
    
    a {
        color: #FFF;
        display: block;
        &:hover{
            color: rgba(37, 43, 97, 0.8)
        }

        @media (max-width: 767px) {
            h1 {
                font-size: 32px;
            }
        }
    }
}