.about-component {
    background: #2096BA;
    
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
    color: #FFF;

    @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .block-2 {
        p {
            text-align: left;
        }

        .vision-container {
            justify-content: flex-start;
            background: #DF6E21;
            border: 5px solid rgba(0,0,0,0);
            height: 100%;
            border-radius: 20px;
            padding: 20px;
        }
    }
}