.home-component {
    font-family: 'Latinka';
    height: 100vh;
    color: #FFF;

    > .btn-slider {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-work {
        height: 100vh;
        background: #fc7616;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 767px) {
            overflow: hidden;
        }

        .work-svg {
            max-height: 500px;
            @media (max-width: 767px) {
                width: 140%;
                margin-left: -80px;
            }
            width: auto;
        }

        > .content-container > p.title {
            font-size: 1.3rem;
            font-weight: 400;
        }

        > .content-container > h2 {
            font-family: "Otama";
            font-weight: 400;
            text-align: left;
            margin: 0 auto;
            font-size: 2.3rem;
            @media (max-width: 767px) {
                font-size: 2rem;
            }
        }
    }

    .mobile-block-2 {
        height: 100%;
        @media (max-width: 767px) {
            height: 100vh;
        }
    }

    .section-vision {
        height: 50vh;
        background: #71c1b7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
            cursor: pointer;
        }
        
        > .content-container {
            position: absolute;
            bottom: 5%;
            &.mobile-contact-container {
                @media (max-width: 767px) {
                    bottom: 25%;      
                }
            }
        }

        @media (max-width: 767px) {
            height: 50%;

            > .content-container {
                bottom: 9%;
                height: unset;


                > .title {
                    font-size: 1rem;
                }
                
                > h3 {
                    font-size: 1.4rem;
                }
            }

        }

        .vision-svg {
            max-width: 350px;
            height: auto;
            margin-top: -80px;

            @media (max-width: 767px) {
                max-width: 250px;
            }
        }

        .contact-svg {
            max-width: 150px;
            height: auto;
            margin-top: -130px;

            @media (max-width: 767px) {
                margin-top: -150px;
                max-width: 130px;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-family: "Otama";
        }
    }

    .section-team {
        background: #034462;
    }

    p.title {
        font-family: "Otama";
        font-size: 1.3rem;
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 3px;
            background: #fff;
        }
    }
}