.App {
  height: 100vh;
  .section-work {
    background: #DF6E21;
  }

  .section-vision {
    height: 50vh;
    background: #2096BA;
  }
  .section-team {
    height: 50vh;
    background: #C5D2DB;
  }
}