.header-component {
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
    padding: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    .nav-icon {
        margin: 1em;
        width: 40px;
      }
      
      .nav-icon:after, 
      .nav-icon:before, 
      .nav-icon div {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
      }

      .nav-icon:hover:before {
        transform: translateY(12px) rotate(135deg);
      }
      
      .nav-icon:hover:after {
        transform: translateY(-12px) rotate(-135deg);
      }
      
      .nav-icon:hover div {
        transform: scale(0);
      }
}

