.header-component {
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
    padding: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

}
    a {
        text-decoration: none !important;
        color: #000;
    }

