@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: "Latinka SemiBold";
  font-weight: "bold";
  src: url("./assets/fonts/Latinka-SemiBold.ttf");
}

@font-face {
  font-family: "Latinka";
  font-weight: "bold";
  src: url("./assets/fonts/Latinka-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
